
  .logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, serif;
  }
  
  .logo a {
    color: rgba(0,0,0,.9);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }