:root {

    --clr-primary-lt: #4B5938;
    --clr-primary-dk: #041C00;
    --clr-cream: #FEEEDF;
    --clr-secondary: #242D2A;
    --clr-tertiary: #413638;

    --clr-white: #FBF3E8;
    --clr-black: black;
    --clr-red: #CB2701;
    --clr-green: #198B52;


    --ff-serif: 'Playfair Display', serif;
    --ff-sans-h:  Helvetica, "Roboto", sans-serif;
    --ff-sans-p: 'Open Sans', sans-serif;

    --fw-l: 300;
    --fw-n: 400;
    --fw-b: 700;

    --fs-h1: 2rem;
    --fs-h2: 1.6rem;
    --fs-h3: 1.4rem;
    --fs-h4: 1.2rem;

    --fs-pl: 1.2rem;
    --fs-p: 1rem;
    --fs-ps: 0.8rem;

    --sp: 2rem; /* SPACE CONTROL */

    --nav-height: calc(2 * var(var(--space-control)));
    --page-height: calc(100vh - var(var(--nav-height)));
    --container-width: 90%;
    --container-max-width: 1000px;

    --shadow: -0.1em 0.1em 0.1em var(--clr-drimary-dk);
}

/* set basics */

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

h1, h2 {
    font-family: var(--ff-serif);
    font-weight: var(--fw-n);
}

h3, h4, th {
    font-family: var(--ff-sans-h);
    font-weight: var(--fw-n);
}

p, td {
    font-family: var(--ff-sans-p);
    font-weight: var(--fw-l);
    font-size: var(--fs-pl);
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

th {
    font-size: var(--fs-pl);
}

h1, h2, h3, h4, p, td, th {
    color: #041c00;
}

/* COMMON REUSABLE CLASSES */

    /* colors */
    .bg-light {
        background-color: var(--clr-white);
    }

    .bg-dark {
        background-color: var(--clr-primary-dk);
    }

    .fc-white {
        color: var(--clr-white);
    }

    .fc-dark {
        color: var(--clr-primary-dk);
    }

    .fc-cream {
        color: var(--clr-cream);
    }

    .my-button {
        background-color: var(--bs-skoon-light);
        border-radius: 1rem;
        font-family: var(--ff-skoon-body);
        font-size: 1rem;
    }

    /* components */
    .button {
        font-family: var(--ff-sans-h);
        font-weight: var(--fw-l);
        font-size: var(--fs-pl);
        padding: calc(0.5 * var(--fs-pl)) calc(2 * var(--fs-pl));
    }

    .input {
        padding: var(--fs-p);
    }

/* accounts */

    /* login */

    