{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Skoon u-calc{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    {% block body %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <p class="navbar-brand mb-0 h1">Skoon<sub>u-calc</sub></p>
                <ul class="navbar-nav" style="display:flex;flex-direction:row;">
                    <li class="nav-item">
                        <a class="nav-link mr-3" href={% url 'home' %}>Database</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-5" href={% url 'calculator' %}>Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ user.username }}</a>
                    </li>
                </ul>
            </div>
        </nav>
    
        <div class="container pt-4">
            <div class="mx-4">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    {% endblock body %}
  </body>
</html>