{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Skoon u-calc{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <p class="navbar-brand mb-0 h1">Skoon<sub>u-calc</sub></p>
            <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link mr-4" href={% url 'home' %}>Database</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href={% url 'calculator' %}>Calculator</a>
                  </li>
              </ul>
        </div>
    </nav>
    <div class="container pt-4">
        
        

      {% block content %}
      {% endblock %}

    </div>
  </body>
</html>