{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    
    <h1>Material U-Value Calculator</h1>
    
    <form method="POST">

        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">

                {{ field.label_tag }}

                {% render_field field class="form-control" %}

            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Add Material</button>
        
    </form>


    <h2 class="mt-4 mb-2">Component Display</h2>

    <table class="table">

        <thead class="thead-dark">
          <tr>
            <th>Material</th>
            <th>Thickness (mm)</th>
            <th>R</th>
          </tr>
        </thead>

        <tbody>
          {% for component in components %}
            <tr>
              <td>
                {{ component.material.name }}
              </td>
              <td class="align-middle">
                {{ component.thickness }}
              </td>
              <td>N/A</td>
            </tr>
          {% endfor %}
        </tbody>

      </table>

{% endblock %}