{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    
    <h2>Material U-Value Calculator</h2>
    
    <form method="POST">

        {% csrf_token %}
        {% render_field component_form.add_material %}
        <div class="form-group">

            <label for="material">Select Material:</label>
            {% render_field component_form.material id="material" class="form-control" %}

            <label for="thickness">Thickness (mm):</label>
            {% render_field component_form.thickness id="thickness" class="form-control" %}

        </div>

        <button type="submit" class="btn btn-success" name="addMaterialButton">Add Material</button>
        
    </form>


    <h3 class="mt-4 mb-2">Component Display{% if composites %}: {{ active_composite.name }}{% endif %}</h3>

    <table class="table">

        <thead class="thead-dark">
          <tr>
            <th>Material</th>
            <th>Thickness (mm)</th>
            <th>R (Km<sup>2</sup>/W)</th>
          </tr>
        </thead>

        <tbody>
          {% for component in components %}
            <tr>
              <td>
                {{ component.material.name }}
              </td>
              <td class="align-middle">
                {{ component.thickness }}
              </td>
              <td>{{ component.displayR }}</td>
            </tr>
          {% endfor %}
        </tbody>

      </table>

      <h3>{{ uVal }}</h3>
      <h3>U Value</h3>
      
      
      <form method="POST">
        {% csrf_token %}
        {% render_field clear_form.clear_material_view %}
        <input type="submit" value="Clear Material View" class="btn btn-danger" name="clearButton">
      </form>
      
      <form method="POST">
        {% csrf_token %}
        {% render_field save_form.save_composite %}
        {% render_field save_form.name id="name" class="form-control" %}
        <input type="submit" value="Save Composite Material" class="btn btn-success" name="saveButton">
      </form>
      

{% endblock %}

