{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<h1 class="page-heading">Materials Database</h1>
  
<div class="page-content">
  <table>
    <thead>
      <tr>
        <th>Material</th>
        <th>Thermal Conductivity (W/mK)</th>
      </tr>
    </thead>
    <tbody>
      {% for material in materials %}
        <tr>
          <td>
            {{ material.name }}
          </td>
          <td>
            {{material.thermal_conductivity}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Composite</th>
        <th>Thickness (mm)</th>
        <th>U-Value (W/m<sup>2</sup>K)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for composite in composites %}
      <tr>
        <td>
          {{ composite.name }}
        </td>
        <td>
          {{ composite.calcThickness }}
        </td>
        <td>
          {{ composite.calcU }}
        </td>
        <td><form method="POST">
          {% csrf_token %}
          {% render_field delete.delete_composite %}
          {% render_field delete.to_delete value=composite.pk %}
          <input type="submit" value="Delete" name="deleteButton">
        </form></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}