{% extends 'base.html' %}

{% block content %}
<h2>Materials Database</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Material</th>
        <th>Thermal Conductivity (W/mK)</th>
      </tr>
    </thead>
    <tbody>
      {% for material in materials %}
        <tr>
          <td>
            {{ material.name }}
          </td>
          <td class="align-middle">
            {{material.thermal_conductivity}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Composite</th>
        <th>Thickness (mm)</th>
        <th>U-Value (W/m<sup>2</sup>K)</th>
      </tr>
    </thead>
    <tbody>
      {% for composite in composites %}
      <tr>
        <td>
          {{ composite.name }}
        </td>
        <td class="align-middle">
          {{ composite.calcThickness }}
        </td>
        <td class="align-middle">
          {{ composite.calcU }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}