{% extends 'base_accounts.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}

    <div>
      <div>
          <div>
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              {% include 'includes/basic_form.html' %}
              <button type="submit">Log in</button>
            </form>
          </div>
          <div>
            New to the skoonulator? <a href="{% url 'signup' %}">Sign up</a>
          </div>
      </div>
    </div>

{% endblock %}