{% extends 'base_accounts.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}

    <div class="accounts-content">
      <div class="accounts-outer">
          <div class="accounts-inner">
            <form method="post" class="accounts-form login-form">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              {% include 'includes/basic_form.html' %}
              <button type="submit" class="btn btn-primary accounts-button login-button">Log in</button>
            </form>
          </div>
          <div class="newto">
            New to the skoonulator? <a href="{% url 'signup' %}" class="signup">Sign up</a>
          </div>
      </div>
    </div>

{% endblock %}